In [10]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [24]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)

In [25]:
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [26]:
X = df[["weight", "gender"]]
y = df["likeness"]

In [27]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(X, y)

DecisionTreeClassifier()

In [29]:
model.predict([[75, 1]])

array(['Biryani'], dtype=object)

### To evaluate model we need to test split

In [57]:
from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size = 0.1, random_state = 0)
from sklearn.metrics import accuracy_score

In [ ]:
model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

In [59]:
score = accuracy_score(y_test, predicted_values)
score

0.5

### Save a trained model

In [61]:

import joblib
model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, "DecTree.joblib")

['DecTree.joblib']

In [71]:
from sklearn import tree
model = DecisionTreeClassifier().fit(X, y)
tree.export_graphviz(model, 
                    out_file ="DecTree.dot" ,
                    feature_names=["weight", "gender"],
                    class_names = sorted(y.unique()),
                    label = 'all',
                    rounded = True,
                    filled = True
                    )

In [74]:
# load the model from disk
loaded_model = joblib.load('DecTree.joblib')
result = loaded_model.score(X_test, y_test)
print(result)

0.7545454545454545